!!! Strict

%html
  %head
    %link{:rel=> "stylesheet", :href=>"/stylesheets/screen.css", :media=> "screen, projection", :type=> "text/css"}
    %link{:rel=> "stylesheet", :href=> "/stylesheets/print.css", :media=> "print", :type=>"text/css"}
    %script{:type=> "text/javascript", :src=>"/js/flowplayer-3.1.4.min.js"}
    %script{ :src => "/js/cufon-yui.js", :type => "text/javascript" }
    %script{ :src => "/js/Junction_400.font.js", :type => "text/javascript" }
    %script{ :type => "text/javascript" }
      Cufon.replace('h1,h2,h3,h4,#nav a');
    %title Etherpad Foundation

  %body
    #container
      #header
        #title
          %h1
            %span.front> Etherpad
            \.org

          %img{ :src => "logo.png", :alt => "Etherpad Logo", :width => "29"}
          %br
          %span.tag Live Collaborative Text
              
        #nav
          %ul
            %li
              %a{ :href => "http://doc.etherpad.org/" } 
                Documentation
            %li
              %a{ :href => "http://doc.etherpad.org/lPXhn8pWYI" } 
                Plugins
            %li
              %a{ :href => "http://groups.google.com/group/etherpad-open-source-discuss" }
                Community
            %li
              %a{ :href => "http://groups.google.com/group/etherpad-dev" }
                Developers
            %li
              %a{ :href => "http://github.com/ether/pad" }
                Source
            %li
              %a{ :href => "http://github.com/ether/pad/issues" }
                Issues
            /%li
            /  %a{ :href => "http://demo.etherpad.org/" }
            /    Demo
            /%li
            /  %a{ :href => "http://live.etherpad.org/" }
            /    Live!
        
      #content
        #overview     
          %a#player{ :href => "Quick-Introduction-Etherpad.f4v", :style => "display:block;height:366px;" }
          %script{ :language => "JavaScript" }
            flowplayer("player", "swf/flowplayer-3.1.5.swf", { 
            clip: { 
            autoPlay: false,  
            autoBuffering: true // <- do not place a comma here
            }});
        
        #features
          %h2 Features
          %ul
            %li 
              %h3 Realtime collaboration 
              Changes show up simultaneously on all participants' screens.
            %li 
              %h3 Color-coded edits 
              You can easily see who changed which part of the text.
            %li 
              %h3 Infinite undo 
              No limit to how far back in history you can go and rescue an old version of a text.
              %a{ :href => "http://etherpad.com/ep/blog/posts/saving-is-obsolete" }
                More...
              
            %li 
              %h3 Extensible 
              You can easily change and extend the software with modules adding extra functionality.

        #download
          %ul
            %li 
              Download Etherpad:
            %li#version
              %a{ :href => "http://github.com/ether/pad/tarball/master" }
                Latest
     
        #etherpad-is
          %h3 Etherpad Is
          %p EtherPad is the only web-based word processor that allows people to work together in really real-time.
          %p When multiple people edit the same document simultaneously, any changes are instantly reflected on all screens. The result is a new and productive way to collaborate on text documents, useful for meeting notes, drafting sessions, education, team programming, and more.

        #using-etherpad
          %h3 Using Etherpad
          %p Etherpad is both available as a software download that you can install on your own server, and as a Live! service that you can start using directly. If you chose to download and install Etherpad on your own server, you get the advantage of being able to customize the software and integrate it with the rest of your intranet solution.

        #licensing
          %h3 Licensing
          %p 
            Etherpad is
            %a{ :href => "http://www.gnu.org/philosophy/free-sw.html" } Free Software. 
            Various parts are licensed under Apache License 2.0, the BSD License, LGPL 2.1 and the GPL 2.0 licenses, respectively.
      
      #footer
        %a{ :href => "http://github.com/ether/web" }
          Website
        &copy; 2010 Etherpad Foundation
    %script{ :type => "text/javascript" }
      Cufon.now();