=font-size(!pixel-height)
  font-size: ((!pixel-height / 16px ) * 1em)

#header
  overflow: hidden
  #title
    span.org
      font-size: 2em       
  #nav
    ul, li
      display: inline
      margin: 0
    a
      display: block-inline
      text:
        decoration: none
      font-weight: bold

#features
  ul, li
    display: inline

#download
  ul, li
    display: inline
    margin: 0
  a
    display: inline-block
    text:
      decoration: none
    font-weight: bold
