=font_size (!pixel_height)
  font_size: ((!pixel_height / 16px ) * 1em)

a
  color: #000055
  font-weight: bold
  text-decoration: none

a:visited
  color: #666688

a:hover
  color: blue

#header
  overflow: hidden
  #title
    h1
      display: inline
      font-size: 2em
    span.tag
      font-style: italic
  #nav
    margin-top: 10px
    -moz-border-radius: 6pt
    -webkit-border-radius: 6pt
    background: #eee
    ul, li
      display: inline
      margin: 0
    a
      color: black
      zoom: 1
      display: -moz-inline-stack 
      display: inline-block
      *display: inline
      margin:
        left: 10px
      padding:
        left: 8px
        right: 8px
        top: 6px
        bottom: 6px

#features
  ul
    list-style: none
    margin-left: -30px
  a
    color: gray
    font-size: 80%

#etherpad-explain, #features
  h2
    margin-bottom: 10px
  h3
    margin:
      top: 10px
      bottom: 4px
