*:focus
  outline: #ccc dotted medium

object.flashvideo
  width: 100%
  height: 366px


#top
  height: 100px
  #title
    span.org
      font-size: 2em       
  #nav
    ul, li
      display: inline
      margin: 0

#download
  ul, li
    display: inline
    margin: 0
  
